:root{
    --primary-color: #ffffff;
    --background-PauBrasil: url('/static/img/confetti-doodles-pau-Brasil.svg');
    --background-Castanheira: url('/static/img/confetti-doodles-castanha.svg');
    --background-Peroba-rosa: url('/static/img/confetti-doodles-peroba.svg');   
    --second-color: #000;
    --color-menu-defalt:#65a675;
    --color-castanha: #3b0503;
    --color-peroba-rosa:#ec225e;
    --color-pau-brasil:#ae0c3e;
}
/* usado o seletor "body" para estilizar a font e imagen de fundo da pagina, foi zerado o margin  e padding para usar todo espaco da tela.
 */
 body{ 
    
    background-image: url('/static/img/Cuidar-do-meio-ambiente.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-pau-brasil);
}
h1{
    margin-bottom: 0;
    color: var(--second-color);
}
h2{
    font-family: "Roboto Flex", sans-serif;
    word-spacing: 10px;
    letter-spacing: 5px;
    color:#44372f; 
    font-size: 32px; 
    z-index: 2;
}
#back{
    /* background:  linear-gradient(to bottom right, #c957d1 0%, #cc6699 100%); */
    background-image:  var(--background-PauBrasil);
    height: auto; 
}

label{  /* usado seletor de tipo "label"  para dar um destaque no  corpo da letra "negrito" e colocado uma margin para alinhar os inputs de cada label. */
    display: block;
    font-weight: 600;
    margin: 5px 0 5px;
    text-align: left;
    color: var(--second-color);
    
}
#div-radio label{
    display: inline;
    letter-spacing: 0.5px;
    
}
#checkbox{
    margin-top: 10px;
    
}
.label-form{
    text-align: center;
}
input[type=password], input[type=text]{  /* Usado seletor de atributo  para pegar os inputs espeficicos de email e password 
    e especificado uma largura para os campos */
    width: 100%; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{ /* seletor de tipo  para estilizaçao do botao "ENVIAR" 
    Arredondando a bordas e colocando a maozinha do mouse quando passar em cima */ 
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    width: 90%;
    padding: 10px;
    font-weight: 700;
}

button:hover{ /* usado Pseudo classe no botao para mudar a cor ao passar em cima dele com o mouse */ 
    background-color: rgba(87, 243, 87, 0.5);
}

#container {  /* usado o seletor #ID  para estilização  da caixa e posicão do formulario atraves do display Flexbox*/
    max-width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: static;
    
}

#container-form{  /* seletor #id para estilizar o tamanho da caixa do formulario e alinhar os componetes*/ 
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    width: 350px;
    height: 300px; 
    
}

#menu-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color: var(--color-menu-defalt);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#logo{
    width: 20%;
    align-self: center;
    text-align: center;
    margin: 0;
    
}

#logo a{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;

}

#menu-content ul{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
#menu-content ul li {
    list-style: none;
    display: block;
    padding: 20px 15px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#menu-content ul li:hover {
    background-color: #4948483f;
    transform: scale(1.05); 
}

.color-user {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.6px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
}

.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    /* z-index: -1; */
}

#form-cadastro{
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    z-index: 1;

}

#form-cadastro button{
    display: inline;
    width: 45%;
    margin: 5px;
    border: none;

}
#add:hover{
    background-color: rgb(122, 180, 235);
}
#form-cadastro label{  
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    
}

#form-cadastro input{
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
    align-self: flex-start;
    align-self: center; 
} 

#div-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}