/*url('/static/img/confetti-doodles-peroba.svg');*/   


:root{
    --primary-color: #ffffff;
    --background-PauBrasil: url('/static/img/pauBrasil.jpg');
    --background-Castanheira: url('/static/img/american-elm.jpg');
    --background-Peroba-rosa: url('/static/img/perobarosa.jpg');
    --second-color: #000 ;
    --color-menu-defalt:#71c285;
    --color-castanha: #907c45;
    --color-peroba-rosa:#eb5a86;
    --color-pau-brasil:#e43f3ffb;
}
/* usado o seletor "body" para estilizar a font e imagen de fundo da pagina, foi zerado o margin  e padding para usar todo espaco da tela.
 */
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--second-color);   
}

h1{
    margin-bottom: 0;
    color: var(--second-color);
}
h2{
    font-family: "Roboto Flex", sans-serif;
    word-spacing: 10px;
    letter-spacing: 5px;
    color:#44372f; 
    font-size: 32px;    
   
}
#index{
    background-image: url('/static/img/Cuidar-do-meio-ambiente.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

#back{
    /* background-image: url('/static/img/Cuidar-do-meio-ambiente.jpg'); */
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: ; */
    /* z-index: -1; */
}

label{  /* usado seletor de tipo "label"  para dar um destaque no  corpo da letra "negrito" e colocado uma margin para alinhar os inputs de cada label. */
    display: block;
    font-weight: 600;
    margin: 5px 0 5px;
    text-align: left;
    color: var(--second-color);
    
}
#div-radio label{
    display: inline;
    letter-spacing: 0.5px;
    
}
#checkbox{
    margin-top: 10px;
    
}
.label-form{
    text-align: center;
}
input[type=password], input[type=text]{  /* Usado seletor de atributo  para pegar os inputs espeficicos de email e password 
    e especificado uma largura para os campos */
    width: 100%; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{ /* seletor de tipo  para estilizaçao do botao "ENVIAR" 
    Arredondando a bordas e colocando a maozinha do mouse quando passar em cima */ 
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    font-weight: 700;
}
#btn-index{
    margin-top: 30px;
    width: 90%;
}

#btn-index:hover{ /* usado Pseudo classe no botao para mudar a cor ao passar em cima dele com o mouse */ 
    background-color: rgba(10, 59, 10, 0.925);
}

#container {  /* usado o seletor #ID  para estilização  da caixa e posicão do formulario atraves do display Flexbox*/
    max-width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: static;
    
}

#container-form{  /* seletor #id para estilizar o tamanho da caixa do formulario e alinhar os componetes*/ 
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    width: 350px;
    height: 300px; 
    
}

#menu-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    /* background-color: var(--color-menu-defalt); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#logo{
    width: 20%;
    align-self: center;
    text-align: center;
    margin: 0;
    
}

#logo a{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;

}

#menu-content ul{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
#menu-content ul li {
    list-style: none;
    display: block;
    padding: 25px 15px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#menu-content ul li:hover {
    background-color: #4948483f;
    transform: scale(1.05); 
}

.color-user {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.6px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
}

a[href^="#log"]:hover{
    color: rgb(247, 16, 16);
   
}
/*------------------------------------------------------------------------*/
/*----------------- CSS PAG CADASTRO --------------------------------*/

#form-cadastro{
    margin-top: 60px;
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    color: var(--second-color);
    border: 1px solid black;
    background-color: #85837fbd;
    border-radius: 8px;

}

#form-cadastro button{
    display: inline;
    width: 90%;
    margin: 10px;
    border: none;
}
#add:hover{
    background-color: rgb(122, 180, 235);
}

#form-cadastro label{  
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;  
    font-weight: bold; 
    letter-spacing: 0.3;
    color: #0c0b0b;
   
    
}

#form-cadastro input{
    padding: 5px;
    width: 60%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    align-self: center;    
} 

#div-form{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
/*------------------------------------------------------------------------*/
/*----------------- CSS TABELA CADASTRO -------------------------------------*/

#div-table{
    width: 70%;
    color: var(--second-color);
    margin-top: 20px;
    z-index: 1;
    overflow-y: auto;
    height: 200px;
    
}
table {
    display: none;
    border-collapse: collapse;
    width: 100%; 
    font-size: 18px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #141414;
  }

tr:nth-child(even):hover , tr:nth-child(odd):hover {
    background-color: #D6EEEE;
}

tr:nth-child(even), tr:nth-child(odd){
    background-color: #7d919167;
  }


 th:nth-child(even), th:nth-child(odd) {
    background-color: rgba(61, 153, 88, 0.822);
  }
/*------------------------------------------------------------------------*/
/*----------------- CSS PAG RELATORIOS -------------------------------------*/

#div-relatorio{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
  
   
}

#box-itens{
    padding: 10px;
    display: flex;
    width:  300px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: #85837fa4;
    border-radius: 8px;

}

#box-itens label input{
    align-self: center;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 0;  
    border-radius: 8px;
    
}
#box-itens button{
    align-self: center;
    width: 90%;
    margin: 15px;
    
}
#box-itens  label{
    align-self: center;
    text-align: center; 
    font-size: 20px;
    margin: 4px;
    border: none;

} 
/*------------------------------------------------------------------------*/
/*----------------- CSS PAG DESTAQUE -------------------------------------*/

#destaque-content{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#destaque-content h2{
    text-align: center;
    width: 100%;
    color: #000;
    text-transform: uppercase;
}
#flex-item-destaque{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    
}

.destaque-itens{
    text-align: center;
    width: auto;
    padding: 10px;
    background-color: #85837fa4 ;
    border: 2px solid black;
    border-radius: 15px;
}
.destaque-itens img{
    width: 200px;
    height: 180px;
    border-radius: 15px;
    background-size: cover;
}

.destaque-itens h3{
    
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 100%;
}

/* .destaque-itens:nth-child(2){
    align-self: flex-start;
} */

/*------------------------------------------------------------------------*/
/*----------------- CSS PAG PERFIL --------------------------------*/


#content-perfil{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content-perfil h2{
    color: var(--second-color);
}

#form-perfil{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: #85837fa4;
    border-radius: 0 40px 30%;
}

#perfil{
    width: 200px;
    height: 180px;
    border-radius: 50px;
}

.perfil-item{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}
#label-perfil{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
}

#btn-perfil{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    opacity: 1;
}

#btn-edit, #btn-salvar{
    background-color: var(--primary-color);
    padding: 8px;
    border: none;
}
#btn-salvar{
    cursor: auto;
}

#btn-edit:hover{
    background-color:  rgb(122, 180, 235);;
}

#bio-edit{
    padding: 10px 0  0px;
    background-color: #85837fa4;
    display: block; 
    width: 50%;
    border: none;
    border-radius: 30px;
    text-align: center;
    border: 1px dashed black;
    cursor: auto;
    color: #000;
    resize: none    
}

/*------------------------------------------------------------------------*/
/*----------------- CSS PAG FOOTER ---------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--second-color);
    color: var(--primary-color);
    margin: 0;
}

