<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Reflorestamento</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/ed02a7b257.js" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>

</head>
<body id="back">
    
    <div id="container">
        
        <header>
            <nav id="menu-content">
                
                <div id="logo">
                    <h1><a id="link-logo" class="color-user" href="/templates/pages.html"></a></h1>

                    <i style="color:black;" class="fa-solid fa-bars nav-toggle"></i>
                </div>
                <ul>
                    <li><a class="color-user" href="/templates/cadastro.html">Cadastro Reflorestamento</a></li>
                    <li><a class="color-user" href="/templates/relatorios.html">Relatorios</a></li>
                    <li><a class="color-user" href="/templates/destaques.html">Destaques</a></li>
                    <li><a class="color-user" href="#">Perfil</a></li>
                    <li><a class="color-user"  id="logout" href="#log"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                </ul>
                
            </nav>
        </header>
       
        <div id="div-form">
            <form action="/templates/cadastro.html"  id="form-cadastro">
                
                <label for="especie">Escolha a Especie de Arvore:</label>
                <input list="especies" name="especie" id="especie" >
                    <datalist id="especies">
                     <option value="Ipês" selected>
                        <option value="Angicos">
                            <option value="Aroeiras">
                                <option value="Jequitibás">
                                    <option value="Peroba do Campo">
                                    </datalist> 
                
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" >
                <div id="btn-cadastro">                   
                    <button type="button" id="add"><i class="fa-solid fa-plus"></i></button>
                    <button  type="submit" id="btn-submit">ENVIAR</button>
                </div>
            
            </form> 
            <div id="div-table">
                <table id="table">
                    <tr>
                      <th>USER</th>
                      <th>ESPECIE</th>
                      <th>QUANTIDADE</th>
                    </tr>
            </div>
               
        </div>
        
    </div>
    
   <script type="module" src="/static/js/cadastro.js"></script>
</body>
</html>