<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peroba-Rosa</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="back">
    <div id="container">
        <header>
            <nav id="menu-content">
                
                <div id="logo">LOGO</div>
               
                <ul>
                    <li>home</li>
                    <li>sobre</li>
                    <li>Perfil</li>
                </ul>
                
            </nav>
        </header>

    
    
    

</div>
<script  src="/static/js/peroba.js"></script>
</body>
</html>