<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo Reflorestador</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/ed02a7b257.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body id="back">
    
    <div id="container">
        
        <header>
            <nav id="menu-content">

                <div id="logo">
                    <h1><a id="link-logo" class="color-user" href="/templates/pages.html"></a></h1>

                    <i style="color:black;" class="fa-solid fa-bars nav-toggle"></i>
                </div>
                
                <ul>
                    <li><a class="color-user" href="/templates/cadastro.html">Cadastro Reflorestamento</a></li>
                    <li><a class="color-user" href="/templates/relatorios.html">Relatorios</a></li>
                    <li><a class="color-user" href="/templates/destaques.html">Destaques</a></li>
                    <li><a class="color-user" href="#">Perfil</a></li>
                    <li><a class="color-user"  id="logout"  href="#log"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li> 
                </ul>
               
            </nav>
        </header>
        <p id="icone-user"><i class="fa-regular fa-user"></i> Olá <span id="span-user"></span></p>

        <div id="content-perfil">
            <h2>PERFIL DO REFLORESTADOR</h2>
            <div id="form-perfil">
            
                    <div class="perfil-item" >
                        <img src="/static/img/Reflorestamento.jpg" alt="imagem avatar" id="perfil">
                        <div id="label-perfil">
                            <strong><p id="nome-perfil"></p></strong>
                            <label >Participação: 
                                <span id="quantidade"></span><i> Árvores Plantadas</i>
                            </label>
                        </div>
                        
                    </div>

                    <div class="perfil-item" >
                        <label>BIO:
                        </label>
                        <textarea name="bio" id="bio-edit" cols="40" rows="10" disabled>
                            
                        </textarea>
                        <div id="btn-perfil">
                            <button id="btn-edit">EDITAR</button>
                            <button id="btn-salvar"  disabled>SALVAR</button>
                        </div>
                    </div>
            </div>    
        </div>
               
        <a id="icone-home"  title="Home" href="/templates/pages.html"><i class="fa-solid fa-house"></i></a>
    </div>
<script type="module"  src="/static/js/perfil.js"></script>
</body>
</html>


<!-- <pre id="pre-perfil">
    Reflorestamento e restauração 
    de áreas degradadas. 🌳🌿 
    Contribuo para um mundo mais verde.
    Dedico-me a plantar árvores 
    e contribuir para um futuro mais verde. 💚  
</pre> -->