<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peroba-Rosa</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="back">
    <div >
    <h1>BEM VINDO AO PERFIL PEROBA-ROSA</h1>
    <button type="reset">Logout</button>

<!-- <script>
    
    document.body.style.backgroundImage = 'url("/static/img/IMG-20250427-WA0068.jpg")';

</script> -->
</div>
<script type="module" src="/static/js/scripts.js"></script>
</body>
</html>